In [1]:
import pandas as pd

In [8]:
from scipy import stats

In [2]:
df = pd.read_csv('/Users/rupaliwadhawan/Downloads/experiment_dataset.csv')

In [3]:
df

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [4]:
df.drop('Unnamed: 0', axis=1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [18]:
control = df[df['Variant'] == 'Control']
variant_a = df[df['Variant'] == 'Variant A']
variant_b = df[df['Variant'] == 'Variant B']

In [19]:
avg_time_spent_control = control_group['Time Spent'].mean()
avg_ctr_control = control_group['CTR'].mean()

avg_time_spent_control

20.070781011176855

In [20]:
avg_ctr_control

0.09855415286485454

In [21]:
avg_time_spent_variant_a = variant_a['Time Spent'].mean()
avg_ctr_variant_a = variant_a['CTR'].mean()

avg_time_spent_variant_a

24.805547386576052

In [22]:
avg_ctr_variant_a

0.12026949300288214

In [23]:
avg_time_spent_variant_b = variant_b['Time Spent'].mean()
avg_ctr_variant_b = variant_b['CTR'].mean()

In [24]:
avg_time_spent_variant_b

23.343782979234575

In [25]:
avg_ctr_variant_b

0.1089330399532712

In [26]:
time_spent_lift_a = avg_time_spent_variant_a - avg_time_spent_control

In [27]:
time_spent_lift_a

4.734766375399197

In [28]:
time_spent_lift_b = avg_time_spent_variant_b - avg_time_spent_control

In [29]:
time_spent_lift_b

3.27300196805772

In [30]:
ctr_lift_a = avg_ctr_variant_a - avg_ctr_control

In [31]:
ctr_lift_a

0.021715340138027603

In [32]:
ctr_lift_b = avg_ctr_variant_b - avg_ctr_control

In [33]:
ctr_lift_b

0.010378887088416652

In [7]:
df.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   22.707286  0.110217
Location2   22.648998  0.108517
Location3   22.787691  0.108708

In [9]:
loc_1 = df[df['Location'] == 'Location1']['Time Spent']
loc_2 = df[df['Location'] == 'Location2']['Time Spent']
loc_3 = df[df['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [10]:
loc_1 = df[df['Location'] == 'Location1']['CTR']
loc_2 = df[df['Location'] == 'Location2']['CTR']
loc_3 = df[df['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

In [11]:
df.groupby('Age')[['Time Spent','CTR']].mean()

     Time Spent       CTR
Age
18    21.805160  0.104431
19    24.301099  0.113928
20    22.658484  0.106769
21    23.174444  0.106317
22    23.339777  0.111566
23    21.203465  0.111024
24    21.505956  0.109765
25    23.541231  0.109907
26    22.598906  0.110061
27    21.729390  0.105247
28    21.807757  0.103960
29    24.299111  0.100519
30    23.432915  0.106659
31    21.989786  0.104464
32    22.346828  0.112993
33    24.616644  0.114898
34    22.385361  0.106876
35    21.581871  0.111845
36    22.879286  0.107217
37    20.809576  0.120952
38    25.301273  0.117152
39    22.893486  0.105070
40    21.684611  0.121210
41    24.134836  0.110276
42    24.833502  0.113295
43    21.289182  0.106507
44    23.023596  0.106827
45    22.468996  0.099483
46    22.938505  0.110406
47    21.702336  0.119617
48    22.503268  0.108007
49    25.031848  0.115586
50    24.264450  0.104252
51    22.599297  0.106918
52    21.631632  0.106556
53    20.838519  0.107413
54    23.340736  0.108838
55    23.145363  0.108426
56    21.172350  0.109381
57    23.608306  0.106884
58    21.206153  0.107542
59    20.797435  0.106319
60    21.909116  0.114229
61    24.839548  0.105097
62    23.215577  0.111154
63    23.439610  0.111595
64    23.264560  0.105848

In [67]:
bins = [18, 30, 40, 50, 65]  # Age groups: 18-29, 30-39, 40-49, 50-64
labels = ['18-29', '30-39', '40-49', '50-64']
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [72]:
df

     Age   Location   Device    Variant  Time Spent       CTR Age Group
0     62  Location2  Device2    Control   13.928669  0.084776     50-64
1     18  Location1  Device1  Variant B   11.310518  0.096859     18-29
2     21  Location2  Device1  Variant B   24.842100  0.097630     18-29
3     21  Location1  Device3  Variant B   20.061300  0.109783     18-29
4     57  Location1  Device2  Variant B   34.495503  0.068579     50-64
..   ...        ...      ...        ...         ...       ...       ...
995   39  Location2  Device2  Variant B   17.252030  0.092211     30-39
996   38  Location3  Device2    Control   30.075898  0.078151     30-39
997   60  Location2  Device3    Control   31.929223  0.125213     50-64
998   35  Location2  Device2  Variant B   14.680299  0.095423     30-39
999   55  Location1  Device1  Variant B   25.803169  0.166688     50-64

[1000 rows x 7 columns]

In [76]:
age_group_avg_TS = df.groupby('Age Group')['Time Spent'].mean()

In [78]:
age_group_avg_TS

Age Group
18-29    22.587349
30-39    22.854434
40-49    22.937177
50-64    22.583417
Name: Time Spent, dtype: float64

In [77]:
age_group_avg_CTR = df.groupby('Age Group')['CTR'].mean()

In [79]:
age_group_avg_CTR

Age Group
18-29    0.107807
30-39    0.111196
40-49    0.110716
50-64    0.107938
Name: CTR, dtype: float64

In [80]:
age_group_1 = df[df['Age Group'] == '18-29']['Time Spent']
age_group_2 = df[df['Age Group'] == '30-39']['Time Spent']
age_group_3 = df[df['Age Group'] == '40-49']['Time Spent']
age_group_4 = df[df['Age Group'] == '50-64']['Time Spent']

p_val = stats.f_oneway(age_group_1, age_group_2, age_group_3, age_group_4)
print(p_val)

F_onewayResult(statistic=0.2674004569708277, pvalue=0.8489214084576029)

In [81]:
age_group_1 = df[df['Age Group'] == '18-29']['CTR']
age_group_2 = df[df['Age Group'] == '30-39']['CTR']
age_group_3 = df[df['Age Group'] == '40-49']['CTR']
age_group_4 = df[df['Age Group'] == '50-64']['CTR']

p_val = stats.f_oneway(age_group_1, age_group_2, age_group_3, age_group_4)
print(p_val)

F_onewayResult(statistic=1.5473207457172085, pvalue=0.2006869155037133)

In [12]:
df.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   22.635032  0.109634
Device2   22.890021  0.109868
Device3   22.612276  0.107993

In [15]:
dev_1 = df[df['Device'] == 'Device1']['Time Spent']
dev_2 = df[df['Device'] == 'Device2']['Time Spent']
dev_3 = df[df['Device'] == 'Device2']['Time Spent']

p_val = stats.f_oneway(dev_1, dev_2, dev_3)
print(p_val)

F_onewayResult(statistic=0.23414784863027854, pvalue=0.7912886728144146)

In [16]:
dev_1 = df[df['Device'] == 'Device1']['CTR']
dev_2 = df[df['Device'] == 'Device2']['CTR']
dev_3 = df[df['Device'] == 'Device3']['CTR']

p_val = stats.f_oneway(dev_1, dev_2, dev_3)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

In [54]:
varA = df[df['Variant']=='Variant A']['Time Spent']
varB = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

In [55]:
p_val = stats.f_oneway(varA, varB, control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [56]:
varA = df[df['Variant']=='Variant A']['CTR']
varB = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

In [57]:
p_val = stats.f_oneway(varA, varB, control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [59]:
varA = df[df['Variant']=='Variant A']['Time Spent']
varB = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']
p_val = stats.ttest_ind(varA, control)
p_val_2 = stats.ttest_ind(varB, control)
p_val_3 = stats.ttest_ind(varA, varB)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [60]:
varA = df[df['Variant']=='Variant A']['CTR']
varB = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']
p_val = stats.ttest_ind(varA, control)
p_val_2 = stats.ttest_ind(varB, control)
p_val_3 = stats.ttest_ind(varA, varB)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)