# Assignment 2 - MBAN 6110 S
Submitted by Rupali Wadhawan (220189445)

In [1]:
import pandas as pd

In [8]:
from scipy import stats

In [2]:
df = pd.read_csv('/Users/rupaliwadhawan/Downloads/experiment_dataset.csv')

In [3]:
df

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [4]:
# Dropping Unnamed column
df.drop('Unnamed: 0', axis=1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

# Question 1. Analyze the results to determine which feature (if any) results in CTR or Time Spent lift.

In [18]:
#Defining variables
control = df[df['Variant'] == 'Control']
variant_a = df[df['Variant'] == 'Variant A']
variant_b = df[df['Variant'] == 'Variant B']

In [19]:
avg_time_spent_control = control['Time Spent'].mean()
avg_ctr_control = control['CTR'].mean()
# Average time spent for Control Variant
avg_time_spent_control

20.070781011176855

In [20]:
# Average CTR for Control Variant
avg_ctr_control

0.09855415286485454

In [21]:
avg_time_spent_variant_a = variant_a['Time Spent'].mean()
avg_ctr_variant_a = variant_a['CTR'].mean()
# Average time spent for Variant A
avg_time_spent_variant_a

24.805547386576052

In [22]:
# Average CTR for Variant A
avg_ctr_variant_a

0.12026949300288214

In [23]:
avg_time_spent_variant_b = variant_b['Time Spent'].mean()
avg_ctr_variant_b = variant_b['CTR'].mean()

In [24]:
# Average time spent for Variant B
avg_time_spent_variant_b

23.343782979234575

In [25]:
# Average CTR for Variant B
avg_ctr_variant_b

0.1089330399532712

In [26]:
# Time spent Lift for Variant A
time_spent_lift_a = ((avg_time_spent_variant_a - avg_time_spent_control)/avg_time_spent_control)*100

In [27]:
time_spent_lift_a

4.734766375399197

In [28]:
#Time spent lift for Variant B
time_spent_lift_b = ((avg_time_spent_variant_b - avg_time_spent_control)/avg_time_spent_control)*100

In [29]:
time_spent_lift_b

3.27300196805772

In [30]:
#CTR Lift for Variant A
ctr_lift_a = ((avg_ctr_variant_a - avg_ctr_control)/avg_ctr_control)*100

In [31]:
ctr_lift_a

0.021715340138027603

In [32]:
#CTR Lift for Variant B
ctr_lift_b = ((avg_ctr_variant_b - avg_ctr_control)/avg_ctr_control)*100

In [33]:
ctr_lift_b

0.010378887088416652

- Since the Time Spent Lift for Variant A is greater than that of Variant B, the results suggest that Variant A has successfully captured the users' attention and encouraged them to spend more time utilizing the feature compared to Variant B.
- Since the CTR Lift for Variant A is greater than that of Variant B, the results indicate that users are more likely to interact with the Variant A of the feature and click on different elements within it as compared to Variant B.

# Question 2: Conduct statistical testing to determine if there is a statistically significant difference between the features and the control group.

In [7]:
#Grouping by Location and seeing if the mean is different for different locations
df.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   22.707286  0.110217
Location2   22.648998  0.108517
Location3   22.787691  0.108708

In [9]:
loc_1 = df[df['Location'] == 'Location1']['Time Spent']
loc_2 = df[df['Location'] == 'Location2']['Time Spent']
loc_3 = df[df['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [10]:
loc_1 = df[df['Location'] == 'Location1']['CTR']
loc_2 = df[df['Location'] == 'Location2']['CTR']
loc_3 = df[df['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

In [67]:
bins = [18, 30, 40, 50, 65]  # Age groups: 18-29, 30-39, 40-49, 50-64
labels = ['18-29', '30-39', '40-49', '50-64']
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [72]:
df

     Age   Location   Device    Variant  Time Spent       CTR Age Group
0     62  Location2  Device2    Control   13.928669  0.084776     50-64
1     18  Location1  Device1  Variant B   11.310518  0.096859     18-29
2     21  Location2  Device1  Variant B   24.842100  0.097630     18-29
3     21  Location1  Device3  Variant B   20.061300  0.109783     18-29
4     57  Location1  Device2  Variant B   34.495503  0.068579     50-64
..   ...        ...      ...        ...         ...       ...       ...
995   39  Location2  Device2  Variant B   17.252030  0.092211     30-39
996   38  Location3  Device2    Control   30.075898  0.078151     30-39
997   60  Location2  Device3    Control   31.929223  0.125213     50-64
998   35  Location2  Device2  Variant B   14.680299  0.095423     30-39
999   55  Location1  Device1  Variant B   25.803169  0.166688     50-64

[1000 rows x 7 columns]

In [76]:
# Grouping by age, calcutaing the mean time spent
age_group_avg_TS = df.groupby('Age Group')['Time Spent'].mean()

In [78]:
age_group_avg_TS

Age Group
18-29    22.587349
30-39    22.854434
40-49    22.937177
50-64    22.583417
Name: Time Spent, dtype: float64

In [77]:
# Grouping by age, calcutaing the mean CTR
age_group_avg_CTR = df.groupby('Age Group')['CTR'].mean()

In [79]:
age_group_avg_CTR

Age Group
18-29    0.107807
30-39    0.111196
40-49    0.110716
50-64    0.107938
Name: CTR, dtype: float64

In [80]:
age_group_1 = df[df['Age Group'] == '18-29']['Time Spent']
age_group_2 = df[df['Age Group'] == '30-39']['Time Spent']
age_group_3 = df[df['Age Group'] == '40-49']['Time Spent']
age_group_4 = df[df['Age Group'] == '50-64']['Time Spent']

p_val = stats.f_oneway(age_group_1, age_group_2, age_group_3, age_group_4)
print(p_val)

F_onewayResult(statistic=0.2674004569708277, pvalue=0.8489214084576029)

In [81]:
age_group_1 = df[df['Age Group'] == '18-29']['CTR']
age_group_2 = df[df['Age Group'] == '30-39']['CTR']
age_group_3 = df[df['Age Group'] == '40-49']['CTR']
age_group_4 = df[df['Age Group'] == '50-64']['CTR']

p_val = stats.f_oneway(age_group_1, age_group_2, age_group_3, age_group_4)
print(p_val)

F_onewayResult(statistic=1.5473207457172085, pvalue=0.2006869155037133)

In [12]:
# Grouping by Device, calcutaing the mean time spent and CTR
df.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   22.635032  0.109634
Device2   22.890021  0.109868
Device3   22.612276  0.107993

In [15]:
dev_1 = df[df['Device'] == 'Device1']['Time Spent']
dev_2 = df[df['Device'] == 'Device2']['Time Spent']
dev_3 = df[df['Device'] == 'Device2']['Time Spent']

p_val = stats.f_oneway(dev_1, dev_2, dev_3)
print(p_val)

F_onewayResult(statistic=0.23414784863027854, pvalue=0.7912886728144146)

In [16]:
dev_1 = df[df['Device'] == 'Device1']['CTR']
dev_2 = df[df['Device'] == 'Device2']['CTR']
dev_3 = df[df['Device'] == 'Device3']['CTR']

p_val = stats.f_oneway(dev_1, dev_2, dev_3)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

In [54]:
varA = df[df['Variant']=='Variant A']['Time Spent']
varB = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

In [55]:
p_val = stats.f_oneway(varA, varB, control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [56]:
varA = df[df['Variant']=='Variant A']['CTR']
varB = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

In [57]:
p_val = stats.f_oneway(varA, varB, control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [59]:
varA = df[df['Variant']=='Variant A']['Time Spent']
varB = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']
p_val = stats.ttest_ind(varA, control)
p_val_2 = stats.ttest_ind(varB, control)
p_val_3 = stats.ttest_ind(varA, varB)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [60]:
varA = df[df['Variant']=='Variant A']['CTR']
varB = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']
p_val = stats.ttest_ind(varA, control)
p_val_2 = stats.ttest_ind(varB, control)
p_val_3 = stats.ttest_ind(varA, varB)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

# Question 3: Summarize your results. Make a recommendation to the engineering team about which feature to deploy. 

The users behave similarly for all locations, age groups and device types. There is no statistically significant difference between them. Using the post-experiment dataset, we can see that both Time Spent and CTR for all variants are statistically significant. This means the variants and the control group have entirely different behaviours in Time Spent and Click-Through-Rate. The T-test shows that Variant A and B perform statistically significantly better than the control group.

My recommendation to the engineering team would be to deploy Variant A of the feature, as it does a better job of capturing the end-users attention and makes them spend more time on the app, eventually resulting in a higher revenue stream.

The above claim is validated using the superior average time spent, average CTR, time spent and CTR lift values of variant A compared to Variant B and the Control.

# Question 4: Create a roll-out plan. 

The high-level rollout plan would be as follows:

1. We would start by conducting exhaustive testing of Variant A to ensure it works well with our existing app. 

2. We would conduct alpha/beta testing by launching the feature to only a small set of end-users to explore the app's new features. We would review their comments and behaviour to understand the feature's performance.

3. Based on this feedback received or any issues/bugs identified, we would make the necessary enhancements.

4. We would make the app's feature available as a "Technical preview" for a slightly larger group of end-users while continuing to test, gather insights from their feedback and behaviour and make any improvements if required. 

5. Post all iterative tests and optimization of the feature, we will immediately push it into production and make it publicly available for all consumers.

# How quickly will you introduce the feature to your audience?

As mentioned above, we would conduct alpha/beta testing with a small group and then making it available for a certain section of existing consumers. Eventually, we would make it publically available.